@use "../../config/styles/_functions.scss" as *;

.button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: vw-1440(16);
  line-height: 140%;
  color: var(--color-bg);
  position: fixed;
  right: vw-1440(63);
  bottom: vw-1440(180);
  border-radius: vw-1440(6);
  padding: vw-1440(6) vw-1440(18);
  display: flex;
  align-items: center;
  gap: vw-1440(2);
  cursor: pointer;
  box-shadow:
    1px 4px 8px 0 rgba(11, 12, 25, 0.03),
    4px 14px 15px 0 rgba(11, 12, 25, 0.02),
    8px 32px 20px 0 rgba(11, 12, 25, 0.01),
    14px 57px 24px 0 rgba(11, 12, 25, 0.01),
    22px 89px 26px 0 rgba(11, 12, 25, 0);
  background: var(--color-button);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  opacity: 0;
  z-index: 201;

  &.visible {
    pointer-events: auto;
    opacity: 1;
  }

  @media (max-width: 768px) {
    bottom: 96px;
    right: 12px;
    border-radius: 4px;
    padding: 3px 6px 3px 3px;
    font-size: 13px;
  }

  &:hover {
    color: var(--color-bg);
    background: var(--color-button-hover);
  }

  svg {
    width: vw-1440(20);
    height: vw-1440(20);

    @media (max-width: 768px) {
      width: 16px;
      height: 16px;
    }
  }
}
