@use "../../shared/config/styles/functions" as *;

.filters {
  width: vw-1440(298);

  display: flex;
  flex-direction: column;
  gap: vw-1440(12);

  @media (max-width: 768px) {
    width: 100%;
    gap: 12px;
  }

  .filterTitle {
    margin-top: vw-1440(20);

    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }
}

.categoryFilter {
  margin-bottom: vw-1440(4);

  @media (max-width: 768px) {
    margin-bottom: 4px;
  }

  // Убираем стандартные стили для мобильной версии в диалоге
  .mobile-only & {
    background-color: transparent;
    padding: 0;
    margin-bottom: vw-1440(12);

    @media (max-width: 768px) {
      margin-bottom: 12px;
    }
  }
}

.inputsContainer {
  display: grid;
  grid-template-columns: repeat(2, vw-1440(86));
  gap: vw-1440(12);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 86px);
    gap: 12px;
  }

  .input {
    height: vw-1440(44);

    @media (max-width: 768px) {
      height: 44px;
    }
  }
}
