@use '../../shared/config/styles/functions' as *;

.container {
  display: flex;
  gap: vw-1440(24);
  width: vw-1440(1296);
  margin: 0 auto;
  background-color: var(--color-bg);

  @media (max-width: 768px) {
    width: 336px;
    flex-direction: column;
    gap: 20px;
  }
}
