@use "../../shared/config/styles/functions" as *;

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1002;
  top: 0;
  left: 0;
  background-color: #252b3399;
  animation: fadeIn 0.1s ease-out;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row-reverse;
  gap: vw-1440(24);
  width: vw-1440(648);
  background-color: var(--color-bg-card);
  box-shadow: 0px 48px 48px 0px #252b330d;
  border-radius: 6px;
  animation: fadeIn 0.3s ease-out;
  max-height: 90vh;
  overflow-y: auto;

  .closeButton {
    display: flex;
    position: absolute;
    top: vw-1440(16);
    right: vw-1440(16);
    border-radius: 50%;
    padding: vw-1440(10);

    & > svg {
      width: vw-1440(19);
      height: vw-1440(19);
      @media (max-width: 768px) {
        width: 12px;
        height: 12px;
      }
    }

    @media (max-width: 768px) {
      top: 8px;
      right: 8px;
      padding: 10px;
    }
  }

  @media (max-width: 768px) {
    width: 335px;

    flex-direction: column;
    .image {
      display: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
