@use '../../shared/config/styles/functions' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1440(20);
  margin-bottom: vw-1440(20);

  @media (max-width: 768px) {
    display: none;
  }
}
