@use '../../shared/config/styles/functions' as *;

.container {
  display: flex;
  flex-direction: column;

  &.home {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
