@use '../../shared/config/styles/functions' as *;

.container {
  width: vw-1440(1296);

  @media (max-width: 768px) {
    width: 336px;
  }
}

.title {
  margin-bottom: vw-1440(32);

  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: vw-1440(420);

  border-radius: 6px;
  overflow: hidden;

  margin-bottom: vw-1440(32);

  & > img {
    object-fit: cover;
  }

  @media (max-width: 768px) {
    border-radius: 4px;
    height: 200px;
    margin-bottom: 32px;
  }
}

.content {
  display: flex;
  flex-direction: column;

  width: vw-1440(956);

  margin: 0 auto;

  @media (max-width: 768px) {
    width: 335px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: vw-1440(12);
  margin: vw-1440(22) 0 vw-1440(42);

  @media (max-width: 768px) {
    gap: 10px;
    margin: 24px 0 32px;
  }
}
