@use '../../../shared/config/styles/functions' as *;

.container {
  width: 100%;
  height: vw-1440(56);

  background-color: var(--color-bg-card);
  display: flex;
  justify-content: center;

  &.home {
    background: #ffffff1a;
  }
}

.content {
  width: vw-1440(1296);
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  gap: vw-1440(4);

  text-decoration: underline;
  text-decoration-style: dotted;
  font-size: vw-1440(14);

  &.home {
    color: var(--color-white);

    & > svg {
      color: var(--color-white);
    }
  }

  & > svg {
    width: vw-1440(22);
    height: vw-1440(22);

    color: var(--color-accent-1);
  }
}

.navigation {
  height: 100%;

  margin: 0 vw-1440(103) 0 vw-1440(60);
}

.navList {
  display: flex;
  gap: vw-1440(22);
  align-items: center;
  list-style: none;
  height: 100%;

  a {
    display: flex;
    align-items: center;
    gap: vw-1440(2);
    text-decoration: none;

    & > svg {
      width: vw-1440(22);
      height: vw-1440(22);
    }

    &:hover {
      color: var(--color-accent-1);
    }
  }

  &.home {
    a {
      color: var(--color-white);
      & > svg {
        color: var(--color-white);
      }

      &:hover {
        color: var(--color-accent-1);
        & > svg {
          color: var(--color-accent-1);
        }
      }
    }
  }
}

.phone {
  display: flex;
  align-items: center;
  gap: vw-1440(6);

  &.home {
    & > a {
      color: var(--color-white);
      &:hover {
        color: var(--color-accent-1);
      }
    }
  }
}

.select.home {
  & > svg {
    color: var(--color-white);
  }
}

.profileLink {
  display: flex;
  align-items: center;
  gap: vw-1440(9);
  padding: vw-1440(5) vw-1440(10) vw-1440(5) vw-1440(7);
  margin-left: vw-1440(24);

  background-color: color-mix(in srgb, var(--color-text) 5%, transparent);
  border-radius: vw-1440(4);

  & > svg {
    width: vw-1440(10);
    height: vw-1440(13);
  }

  &.home {
    color: var(--color-white);
    background: #ffffff33;
    &:hover {
      color: var(--color-accent-1);
    }
  }
}
