@use "../../shared/config/styles/functions" as *;

.container {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: -24px;
    gap: 16px;
  }

  .cartButton {
    width: 54px;
  }
}

.characteristics {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  @media (max-width: 768px) {
    width: 336px;
    margin-right: 0;
  }

  .topInfo {
    display: flex;
    align-items: flex-start;
    gap: vw-1440(16);
    justify-content: space-between;

    @media (max-width: 768px) {
      gap: 16px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  .sku {
    span {
      text-decoration: underline;
    }
  }

  .title {
    margin-bottom: vw-1440(8);
    margin-top: vw-1440(16);
  }

  .tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width: 768px) {
      gap: 10px;
    }

    & > span {
      padding: vw-1440(2) vw-1440(6);
      border-radius: vw-1440(4);
      color: var(--color-bg);
      width: fit-content;
      opacity: 0.8;

      @media (max-width: 768px) {
        padding: 2px 6px;
        border-radius: 4px;
      }
    }

    @media (max-width: 768px) {
      top: 16px;
      left: 16px;
    }
  }

  .basicInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: vw-1440(16);
    padding-bottom: vw-1440(10);
    border-bottom: 1px solid hsla(from var(--color-text) h s l / 0.1);

    @media (max-width: 768px) {
      gap: 16px;
      padding-bottom: 16px;
    }

    .basicCaption {
      display: flex;
      align-items: center;
      gap: vw-1440(20);

      @media (max-width: 768px) {
        gap: 14px;
      }
    }

    .brand {
      border-radius: vw-1440(4);
      width: vw-1440(80);
      height: auto;
      object-fit: contain;

      @media (max-width: 768px) {
        width: 72px;
        height: auto;
        border-radius: 4px;
      }
    }
  }

  .availability {
    color: var(--color-accent-green);
  }

  .rating {
    display: flex;
    align-items: center;
    gap: vw-1440(12);

    .reviews {
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      gap: 6px;
    }
  }

  .totalPrice {
    display: flex;
    align-items: baseline;
    gap: vw-1440(12);
    margin-top: vw-1440(20);

    @media (max-width: 768px) {
      margin-top: 24px;
      gap: 8px;
    }

    .discount {
      color: var(--color-accent-red);
      white-space: nowrap;
    }

    & > span {
      opacity: 0.3;
    }
  }

  .addInCartContainer {
    display: flex;
    gap: vw-1440(16);
    margin-top: vw-1440(16);
    margin-bottom: vw-1440(32);
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: flex-start;
      margin-top: 20px;
    }

    & > .countContainer {
      display: grid;
      grid-template-columns: repeat(3, vw-1440(54));
      gap: vw-1440(12);
      height: vw-1440(48);

      @media (max-width: 768px) {
        height: 42px;
        gap: 10px;
        grid-template-columns: repeat(3, 42px);
        flex: 1 1 100%;
      }

      .input {
        height: vw-1440(48);
        padding: 0;
        text-align: center;
        @media (max-width: 768px) {
          height: 48px;
        }
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(3, 48px);
        gap: 8px;
        height: 48px;
      }
    }

    .addInCartButton {
      min-width: vw-1440(220);

      @media (max-width: 768px) {
        flex: 1 1 vw-1440(277);
      }
    }

    .favoritesButton {
      svg {
        flex-shrink: 0;
        width: vw-1440(32);
        height: vw-1440(32);
        transition: color 0.3s ease-in-out;

        @media (max-width: 768px) {
          width: 32px;
          height: 32px;
        }
      }

      &.active {
        svg {
          fill: var(--color-accent-1);
        }
      }
    }
  }

  .details {
    width: 100%;
    margin-bottom: vw-1440(32);
    display: flex;
    flex-direction: column;
    gap: vw-1440(12);

    @media (max-width: 768px) {
      gap: 12px;
      margin-bottom: 24px;
      margin-top: 24px;
    }

    & > p {
      display: flex;
      align-items: center;
      gap: vw-1440(8);

      .icon {
        font-size: vw-1440(24);
        color: var(--color-accent-1);
        width: vw-1440(24);
        flex: 0 0 vw-1440(24);
        text-align: center;
      }
      @media (max-width: 768px) {
        gap: 8px;

        .icon {
          font-size: 24px;
          width: 24px;
          flex: 0 0 24px;
        }
      }
    }
  }

  .specificationsContainer {
    width: 100%;

    .description {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      margin-top: vw-1440(8);
      margin-bottom: vw-1440(16);

      @media (max-width: 768px) {
        margin-top: 6px;
        margin-bottom: 16px;
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.startRating {
  display: flex;
  gap: 2px;
  & > svg {
    width: vw-1440(20);
    height: vw-1440(20);
    filter: grayscale(100%);
    color: var(--color-accent-orange);

    &.active {
      filter: grayscale(0%);
    }

    @media (max-width: 768px) {
      width: 18px;
      height: 18px;
    }
  }

  @media (max-width: 768px) {
    gap: 4px;
  }
}
