@use "../../shared/config/styles/functions" as *;

.container {
  width: vw-1440(1296);

  &.medium {
    width: vw-1440(966);
  }

  @media (max-width: 768px) {
    width: 336px;

    &.medium {
      width: 336px;
    }
  }

  .title {
    margin-bottom: vw-1440(16);

    @media (max-width: 768px) {
      margin-bottom: 12px;
    }
  }

  .description {
    margin-bottom: vw-1440(32);

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }

  .innerContainer {
    position: relative;
    width: 100%;
    height: 100%;

    // .swiper {
    //   width: 100%;
    //   height: 100%;
    // }

    .swiperSlide {
      position: relative;
      border-radius: vw-1440(6);
      width: vw-1440(306);
      height: vw-1440(418);
      cursor: pointer;

      img {
        border-radius: vw-1440(6);
        object-fit: cover;
      }

      @media (max-width: 768px) {
        border-radius: 6px;
        width: 216px;
        height: 300px;

        img {
          border-radius: 6px;
        }
      }
    }

    .navigation {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% + vw-1440(212));

      @media (max-width: 768px) {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 24px;
        gap: 12px;
        justify-content: center;
      }
    }
  }

  .fullSize {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    &.active {
      opacity: 1;
      z-index: 1000;
      pointer-events: auto;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 80vw;
      max-height: 80vh;
    }

    img {
      max-width: 80vw;
      max-height: 80vh;
      width: auto;
      height: auto;
      object-fit: contain;
      cursor: default;
    }
  }
}
