@use '../../shared/config/styles/functions' as *;

.cotnainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: vw-1440(12);
  width: vw-1440(416);

  @media (max-width: 768px) {
    gap: 8px;
    width: 335px;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: vw-1440(220);
  border-radius: 6px;
  overflow: hidden;

  & > img {
    object-fit: cover;
  }

  @media (max-width: 768px) {
    height: 200px;
    border-radius: 4px;
  }
}

.tags {
  position: absolute;
  top: vw-1440(16);
  left: vw-1440(16);

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: vw-1440(4);

  @media (max-width: 768px) {
    top: 12px;
    left: 12px;
    gap: 4px;
  }
}

.tag {
  color: var(--color-bg);
  background: color-mix(in srgb, var(--color-text) 30%, transparent);

  padding: vw-1440(2) vw-1440(6);
  border-radius: vw-1440(4);

  @media (max-width: 768px) {
    padding: 2px 6px;
    border-radius: 4px;
  }
}

.date {
  opacity: 0.5;
}

.content {
  flex: 1;
}
