@use '../../shared/config/styles/functions' as *;

.container {
  display: flex;
  flex-direction: column;
  padding: vw-1440(24);
  background-color: var(--color-bg);
  width: vw-1440(636);
  flex-shrink: 0;

  border-radius: 6px;
  border: 1px solid color-mix(in srgb, var(--color-accent-1) 20%, transparent);
  transition: border 0.3s ease;

  &:hover {
    box-shadow: 1px 4px 8px 0px #0b0c1908;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 24px;
  }
}
