@use "../../shared/config/styles/functions" as *;

.container {
  width: 100%;
  position: relative;
  height: vw-1440(340);
  border-radius: vw-1440(6);
  overflow: hidden;

  @media (max-width: 768px) {
    height: 340px;
    border-radius: 4px;
  }

  &.inner {
    height: 100%;

    @media (max-width: 768px) {
      height: 435px;
    }

    .content {
      max-width: 100%;
      padding: vw-1440(36);

      @media (max-width: 768px) {
        padding: 32px 24px;
        justify-content: flex-start;
        gap: 16px;
      }
    }
  }

  .content {
    max-width: vw-1440(1296);
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    p {
      mix-blend-mode: difference;
    }

    span > p {
      mix-blend-mode: initial;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      max-width: 335px;
      padding: 32px 0;
    }

    .heading {
      max-width: vw-1440(245);

      .type {
        opacity: 0.5;
        margin-bottom: vw-1440(8);
      }

      @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;

        .type {
          margin-bottom: 8px;
        }
      }
    }

    .caption {
      max-width: vw-1440(220);

      .button {
        margin-top: vw-1440(16);

        &.inner {
          width: fit-content;
          font-size: vw-1440(16);
          min-width: vw-1440(154);
          padding: vw-1440(10);
          background-color: transparent;
          border: 1px solid rgba(17, 20, 52, 0.1);
        }
      }

      @media (max-width: 768px) {
        max-width: 100%;

        .button {
          margin-top: 16px;

          &.inner {
            padding: 10px;
            font-size: 14px;
            min-width: 180px;
            background-color: transparent;
            border: 1px solid rgba(17, 20, 52, 0.1);
          }
        }
      }
    }
  }

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
