@use "../../shared/config/styles/functions" as *;

.addReview {
  margin-bottom: vw-1440(32);
  display: flex;
  align-items: center;
  gap: vw-1440(32);
  border-radius: vw-1440(6);
  padding: vw-1440(32);
  box-shadow:
    1px 4px 8px 0 rgba(11, 12, 25, 0.03),
    4px 14px 15px 0 rgba(11, 12, 25, 0.02),
    8px 32px 20px 0 rgba(11, 12, 25, 0.01),
    14px 57px 24px 0 rgba(11, 12, 25, 0.01),
    22px 89px 26px 0 rgba(11, 12, 25, 0);
  background: var(--color-bg-card);
  width: fit-content;

  @media (max-width: 768px) {
    margin-bottom: 24px;
    width: 100%;
    padding: 24px;
    border-radius: 6px;
    gap: 16px;
  }

  .rating {
    display: flex;
    align-items: center;
    gap: vw-1440(4);

    svg {
      width: vw-1440(48);
      height: vw-1440(48);
      color: var(--color-accent-orange);
    }

    @media (max-width: 768px) {
      gap: 4px;

      svg {
        width: 48px;
        height: 48px;
      }
    }
  }

  .addReviewButton {
    width: vw-1440(350);

    @media (max-width: 768px) {
      width: auto;
      flex: 1 1 100%;
    }
  }
}

.reviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: vw-1440(24);

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    & > div {
      width: 100%;
    }
  }
}
