@use "../../shared/config/styles/functions" as *;

.wrapper {
  position: relative;
}

.container {
  width: 100vw;
  height: vw-1440(940);

  @media (max-width: 768px) {
    height: 100svh;
  }
}

.slide {
  height: 100%;
  & > .content {
    width: vw-1440(1296);
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: vw-1440(32);
    & > div {
      display: flex;
      flex-direction: column;
      width: vw-1440(746);
      gap: vw-1440(16);
      & > p,
      h1,
      h2 {
        color: var(--color-bg);
        top: 0;
        left: 0;
      }
      @media (max-width: 768px) {
        width: 100%;
        gap: 12px;
      }
    }

    & > a {
      width: vw-1440(220);
    }

    @media (max-width: 768px) {
      width: 336px;
      gap: 20px;
      justify-content: flex-start;
      margin-top: 145px;
      & > button {
        width: 220px;
      }

      & > a {
        width: 220px;
      }
    }
  }
  & > img {
    z-index: -1;
    object-fit: cover;
    object-position: bottom;
  }
}

.footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 10;

  transform: translateX(-50%);

  width: vw-1440(1296);
  padding-bottom: vw-1440(54);

  display: flex;
  justify-content: end;
  align-items: end;
  gap: vw-1440(32);

  @media (max-width: 768px) {
    width: 336px;
    flex-direction: column-reverse;
    align-items: start;
    gap: 24px;
    padding-bottom: 36px;
  }
}

.buttonsContainer {
  display: flex;
  gap: vw-1440(14);

  @media (max-width: 768px) {
    gap: 10px;
  }
}

.pagination {
  width: fit-content !important;
}

.bullet {
  width: vw-1440(6);
  height: vw-1440(6);
  margin: 0 vw-1440(5);
  background-color: var(--color-bg);
  border-radius: 0;
  display: inline-block;
  transition: background-color 0.3s;
  border-radius: 50%;
  transition:
    width 0.3s ease,
    border-radius 0.3s ease,
    background-color 0.3s ease;

  @media (max-width: 768px) {
    width: 6px;
    height: 6px;
    margin: 0 5px;
  }
}
