.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;

  width: 100vw;
  height: 100vh;

  background-color: #0b0c1980;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  width: 267px;
  height: 100%;
  padding-top: 84px;
  padding-bottom: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--color-bg);
  overflow: hidden;
  overflow-y: auto;
  animation: fadeIn 0.1s ease-out;

  & p {
    color: var(--color-text);
  }

  .closeButton {
    display: flex;
    position: absolute;
    top: 16px;
    right: 20px;
    border-radius: 50%;
    padding: 10px;

    & > svg {
      width: 19px;
      height: 19px;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;

  margin: 16px 0 85px;
  padding-left: 24px;
}

.socialMedia {
  padding-left: 24px;
  margin-bottom: 24px;
}

.companyContacts {
  padding-left: 24px;
  width: 100%;
  padding-right: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
