@use '../../shared/config/styles/functions' as *;

.cartButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vw-1440(4);

  margin-left: vw-1440(24);
  padding: 0 vw-1440(9);

  &__iconWrapper {
    position: relative;
  }
  &__icon {
    width: vw-1440(36);
    height: vw-1440(36);
  }
  &__count {
    position: absolute;
    top: -4px;
    right: -4px;

    width: vw-1440(18);
    height: vw-1440(18);

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-white);
    background-color: var(--color-accent-1);
    border-radius: 50%;
  }

  &.home {
    color: var(--color-white);

    .cartButton__icon {
      color: var(--color-white);
    }

    &:hover {
      color: var(--color-accent-1);
      .cartButton__icon {
        color: var(--color-accent-1);
      }
    }
  }
}
