@use '../../shared/config/styles/functions' as *;

.head {
  display: flex;
  gap: vw-1440(12);
  align-items: flex-start;
  margin-bottom: vw-1440(12);

  & > .imageContainer {
    position: relative;
    width: vw-1440(52);
    height: vw-1440(52);
    border-radius: 50%;
    overflow: hidden;

    & > img {
      object-fit: cover;
    }
    @media (max-width: 768px) {
      width: 41px;
      height: 41px;
    }
  }

  & > .nameContainer {
    display: flex;
    flex-direction: column;
    gap: vw-1440(6);
    & > .date {
      padding: vw-1440(2) vw-1440(6);
      color: var(--color-bg);
      background-color: var(--color-button);
      border-radius: 4px;
      width: fit-content;
      @media (max-width: 768px) {
        padding: 2px 6px;
      }
    }
    @media (max-width: 768px) {
      gap: 6px;
    }
  }

  @media (max-width: 768px) {
    gap: 8px;
    margin-bottom: 12px;
  }
}

.startRating {
  display: flex;
  gap: 2px;
  margin-bottom: vw-1440(16);

  & > svg {
    width: vw-1440(20);
    height: vw-1440(20);
    color: var(--color-accent-orange);
    filter: grayscale(1);
    &.active {
      filter: grayscale(0);
    }
    @media (max-width: 768px) {
      width: 18px;
      height: 18px;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 16px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1440(6);
  flex: 1 1 100%;

  & > .textClamp {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    gap: 4px;
    margin-bottom: 17px;
  }
}
