@use "../../shared/config/styles/functions" as *;

.quotes {
  width: 60px;
  height: 44px;

  flex-shrink: 0;

  margin-bottom: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1440(6);
  flex: 1 1 100%;

  & > .textClamp {
    margin-bottom: vw-1440(16);

    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  @media (max-width: 768px) {
    gap: 4px;
  }
}

.head {
  display: flex;
  gap: vw-1440(14);
  align-items: center;
  background-color: var(--color-bg-card);
  width: calc(100% + vw-1440(48));
  margin-left: vw-1440(-24);
  padding: vw-1440(16) vw-1440(24);

  @media (max-width: 768px) {
    gap: 8px;
    margin-bottom: 0;
    width: calc(100% + 48px);
    margin-left: -24px;
    padding: 12px 24px;
  }

  .circle {
    width: vw-1440(3);
    height: vw-1440(3);

    @media (max-width: 768px) {
      width: 3px;
      height: 3px;
    }
  }

  .imageContainer {
    position: relative;
    width: vw-1440(60);
    height: vw-1440(60);
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    & > img {
      object-fit: cover;
    }
    @media (max-width: 768px) {
      width: 48px;
      height: 48px;
    }
  }

  .nameContainer {
    display: flex;
    flex-direction: column;
    gap: vw-1440(4);

    @media (max-width: 768px) {
      gap: 6px;
    }
  }

  .date {
    opacity: 0.5;
    display: flex;
    align-items: center;
    gap: vw-1440(8);

    @media (max-width: 768px) {
      gap: 2px;
      flex-direction: column;
      align-items: flex-start;

      svg {
        display: none;
      }
    }
  }
}
