@use "../../shared/config/styles/functions" as *;

.container {
  width: vw-1440(1296);
  margin: 0 auto;
  position: relative;

  @media (max-width: 768px) {
    width: 336px;
    margin-bottom: 117px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: vw-1440(36);

  width: vw-1440(746);
  padding: vw-1440(64) vw-1440(134) vw-1440(64) vw-1440(48);

  background-color: var(--color-bg-card);
  border-radius: 6px;

  & > div {
    display: flex;
    flex-direction: column;

    gap: vw-1440(16);
    @media (max-width: 768px) {
      gap: 12px;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 32px 24px 97px;
    gap: 20px;

    align-items: center;
    text-align: center;
  }
}

.imageContainer {
  width: vw-1440(636);
  height: vw-1440(396);
  border-radius: 6px;
  overflow: hidden;

  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(0, 50%);

  & > img {
    object-fit: cover;
  }

  @media (max-width: 768px) {
    width: 287px;
    height: 178px;
    border-radius: 4px;
    bottom: -117px;
    right: 50%;
    transform: translate(50%, 0);
  }
}
