@use "../../config/styles/functions" as *;

.icon {
  width: vw-1440(24);
  height: vw-1440(24);

  @media (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.trigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: vw-1440(10);

  width: 100%;
  height: vw-1440(44);

  text-align: center;
  padding: 0 vw-1440(14);

  border: 1px solid color-mix(in srgb, var(--color-text) 10%, transparent);
  border-radius: 6px;
  background-color: var(--color-bg);

  &[data-state="open"] .icon {
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
  }

  &[data-state="closed"] .icon {
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    border: 1px solid var(--color-button);
  }

  &:focus {
    border: 1px solid var(--color-button);
    outline: none;
  }

  @media (max-width: 768px) {
    gap: 10px;
    height: 44px;
    padding: 0 14px;
  }
}

.trigger:disabled {
  opacity: 0.5;
}

.content {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  padding: vw-1440(12);

  border: 1px solid color-mix(in srgb, var(--color-text) 10%, transparent);
  border-radius: 6px;
  background-color: var(--color-bg);
  border-top: none;
  z-index: 1100;

  animation: fade-in 0.6s ease;

  @media (max-width: 768px) {
    padding: 12px;
  }
}

.selectItem {
  transition: all 0.3s;

  margin-bottom: vw-1440(12);

  &:last-child {
    margin-bottom: 0;
  }
  &:focus {
    outline: none;
  }

  &:hover {
    & > div > p {
      cursor: pointer;
      color: var(--color-button);
    }
  }

  &[data-state="checked"] {
    outline: none;
    & > div > p {
      color: var(--color-accent-red);
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 12px;
  }
}

.option {
  display: flex;
  flex-wrap: nowrap;
  gap: vw-1440(12);
  align-items: center;

  @media (max-width: 768px) {
    gap: 12px;
  }
}

@keyframes fade-in {
  from {
    max-height: 0;
  }

  to {
    max-height: var(--radix-select-content-available-height);
  }
}
