@use '../../shared/config/styles/functions' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vw-1440(32);

  @media (max-width: 768px) {
    gap: 24px;
  }
}
.advantagesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: vw-1440(24);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 15px;
  }
}
