@use "../../shared/config/styles/functions" as *;

.wrapper {
  width: vw-1440(1296);

  display: flex;
  flex-direction: column;
  gap: vw-1440(32);

  @media (max-width: 768px) {
    width: 336px;
    gap: 16px;
  }
}

.container {
  display: flex;
  gap: vw-1440(32);
  position: relative;

  .navigation {
    position: sticky;
    left: 0;
    top: vw-1440(300);
    height: fit-content;
    flex: 0 0 vw-1440(298);

    display: flex;
    flex-direction: column;
    gap: vw-1440(12);
  }

  .content {
    flex: 0 0 vw-1440(966);
    flex-direction: column;
    display: flex;
    gap: vw-1440(72);

    .brands,
    .reviews,
    .gallery {
      width: vw-1440(966);
    }
  }
}

.navBtn {
  padding: vw-1440(12) vw-1440(24);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-button-additional);
  }

  @media (max-width: 768px) {
    padding: 13px 24px;
  }
}
