@use "../../shared/config/styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;
  max-width: vw-1440(1296);

  & > h1 {
    margin-bottom: vw-1440(24);
    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }

  @media (max-width: 768px) {
    max-width: 336px;
  }
}

.navigation {
  display: flex;
  gap: vw-1440(24);

  margin-bottom: vw-1440(44);

  & > a,
  & > .tag {
    background-color: var(--color-bg-card);
    border-radius: 4px;
    padding: vw-1440(12) vw-1440(24);
    display: inline-block;

    &.active {
      color: var(--color-bg);
      background-color: var(--color-button);
    }

    &:hover {
      cursor: pointer;
      color: var(--color-bg);
      background-color: var(--color-button);
      opacity: 0.8;
    }
  }

  & > .tag {
    color: var(--color-bg);
    border: 2px solid transparent;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
  }

  @media (max-width: 768px) {
    gap: 16px;
    width: 336px;
    overflow-x: auto;
    padding-bottom: 5px;
    margin-bottom: 32px;

    & > a,
    & > .tag {
      padding: 10px 20px;
    }
  }
}

.catalog {
  display: flex;
  gap: vw-1440(48);

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 48px;
  }
}

.productsContainer {
  display: flex;
  flex-direction: column;
  gap: vw-1440(28);

  @media (max-width: 768px) {
    gap: 24px;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .selectContainer {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: row;
      width: 100%;
      & > button:nth-child(1) {
        width: 176px;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 16px;
  }
}

.productList {
  display: grid;
  grid-template-columns: repeat(3, vw-1440(306));
  gap: vw-1440(32) vw-1440(24);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 15px;
  }
}

.pagination {
  margin-top: vw-1440(20);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
}
