@use "../../config/styles/functions" as *;

.container {
  width: vw-1440(1296);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: vw-1440(8);
  margin: vw-1440(36) auto vw-1440(12);
  list-style: none;

  @media (max-width: 768px) {
    justify-content: flex-start;
    gap: 6px;
    max-width: 336px;
    width: 100%;
    flex-wrap: wrap;
    margin: 24px auto 16px;
  }
}

.elem {
  display: flex;
  align-items: center;
  gap: vw-1440(8);
  opacity: 0.5;

  @media (max-width: 768px) {
    gap: 6px;
  }
}

.icon {
  flex-shrink: 0;
  width: vw-1440(4);
  height: vw-1440(4);

  @media (max-width: 768px) {
    width: 4px;
    height: 4px;
  }
}

.lastItem {
  pointer-events: none;
}
