@use '../../shared/config/styles/functions' as *;

.container {
  position: relative;
  padding: vw-1440(36);

  display: flex;
  flex-direction: column;

  align-content: flex-start;
  border-radius: vw-1440(6);
  overflow: hidden;
  box-shadow: 1px 4px 8px 0 rgba(11, 12, 25, 0.03);
  background: var(--color-bg-card);
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
  color: var(--color-text);

  @media (max-width: 768px) {
    padding: 16px;
    border-radius: 6px;
  }

  &:hover {
    color: var(--color-text);
    border: 1px solid rgba(37, 51, 140, 0.2);
  }

  .title {
    margin-bottom: vw-1440(20);
    position: relative;
    z-index: 2;
  }

  .description {
    position: relative;
    z-index: 2;
    flex: 1;
  }

  .imageContainer {
    position: relative;
    width: calc(100% + vw-1440(72));
    margin-left: vw-1440(-36);
    margin-bottom: vw-1440(-36);
    height: vw-1440(302);

    & > img {
      object-fit: contain;
      object-position: bottom;
    }

    &.mediumImage {
      height: vw-1440(178);
      @media (max-width: 768px) {
        height: 89px;
      }
    }
    &.smallImage {
      height: vw-1440(133);
      @media (max-width: 768px) {
        height: 66px;
      }
    }

    @media (max-width: 768px) {
      height: 149px;
      width: calc(100% + 32px);
      margin-left: -16px;
      margin-bottom: -16px;
    }
  }
}
