@use "../../../shared/config/styles/functions" as *;

.wrapper {
  width: 100%;
  border-bottom: 1px solid color-mix(in srgb, var(--color-text) 5%, transparent);
  padding: vw-1440(20) 0;

  &.home {
    border-color: color-mix(in srgb, var(--color-white) 5%, transparent);
  }
}

.container {
  width: vw-1440(1296);
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.navigation {
  width: vw-1440(1296);
  margin: 0 auto;
  padding-top: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: vw-1440(32);
}
.navLink {
  display: flex;
  align-items: center;
  gap: vw-1440(3);

  border-radius: vw-1440(4);
  padding: vw-1440(4) vw-1440(8);
  background-color: transparent;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-accent-1);
  }

  &.home {
    color: var(--color-white);
  }
}
