:root {
  // accent
  // --color-accent-1: #25338c;
  // --color-accent-2: #eaf3ff;
  --color-accent-red: #de0c2f;
  --color-accent-green: #13b926;
  --color-accent-orange: #ef8a24;

  // main
  // --color-text: #111434;
  --color-text-30: #1114344d;
  --color-white: #ffffff;
  --color-grey: #f8f8f8;
  --color-bg-overlay: #0b0c194d;
  //--color-bg-card: #fafafa;
}
