@use "../../../shared/config/styles/functions" as *;

.container {
  width: vw-1440(1296);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: vw-1440(24) 0;
  p {
    opacity: 0.5;
  }
  @media (max-width: 768px) {
    width: 336px;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;

    & > p:first-child {
      order: 1;
    }

    .productBy {
      order: 2;
    }
  }
}

.paymentMethod {
  display: flex;
  gap: vw-1440(20);
  align-items: center;

  @media (max-width: 768px) {
    gap: 12px;
  }
}

.productBy {
  & > p {
    display: inline;
  }
  & > a {
    display: inline;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    &:hover {
      color: var(--color-button);
    }
  }
}
