@use "../../shared/config/styles/functions" as *;

.content {
  position: absolute;
  top: vw-1440(55);
  left: 0;
  z-index: 1000;

  border: 1px solid #25338c1a;
  display: flex;

  background-color: var(--color-bg);
  border-radius: 6px;
  overflow: hidden;

  animation: fadeIn 0.1s ease-out;
}

.categoryList {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #25338c1a;
  width: vw-1440(375);
  box-sizing: border-box;

  & > a {
    text-decoration: none;
    padding: vw-1440(16) vw-1440(24);

    &:hover {
      color: var(--color-bg);
      background-color: var(--color-button);
    }
  }
}

.subcategoryList {
  display: flex;
  flex-direction: column;
  gap: vw-1440(20);
  padding: vw-1440(25) vw-1440(24) vw-1440(45);
}

.subcategories {
  display: grid;
  grid-template-columns: repeat(2, vw-1440(290));
  gap: vw-1440(16) vw-1440(31);

  & > a {
    text-decoration: none;

    &:hover {
      color: var(--color-link);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
