@use "../../shared/config/styles/functions" as *;

.content {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  width: vw-1440(1296);
  max-height: vw-1440(506);
  z-index: 1000;
  padding: vw-1440(36);
  border: 1px solid #25338c1a;
  display: flex;
  justify-content: space-between;
  gap: vw-1440(48);
  background-color: var(--color-bg);
  border-radius: 6px;
  overflow-y: auto;
  animation: fadeIn 0.1s ease-out;

  .banner {
    position: sticky;
    top: 0;
    width: vw-1440(298);
    height: vw-1440(354);
    border-radius: 6px;
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    width: vw-1440(6);
    border-radius: vw-1440(50);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: vw-1440(50);
  }

  &::-webkit-scrollbar-track {
    background: rgba(17, 20, 52, 0.2);
  }
}

.categoryList {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: vw-1440(36) vw-1440(46);
  box-sizing: border-box;
  height: fit-content;

  .category {
    display: flex;
    gap: vw-1440(16);
    max-width: vw-1440(262);
    height: fit-content;

    .image {
      width: vw-1440(80);
      height: vw-1440(80);
      object-fit: cover;
      border-radius: 50%;
    }

    .caption {
      display: flex;
      flex-direction: column;
      gap: vw-1440(8);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
