@use '../../shared/config/styles/functions' as *;

.favoritesButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vw-1440(4);

  margin-left: vw-1440(36);
  padding: 0 vw-1440(9);

  .favoritesButton__iconWrapper {
    position: relative;
  }
  .favoritesButton__icon {
    width: vw-1440(36);
    height: vw-1440(36);
  }
  .favoritesButton__count {
    position: absolute;
    top: -4px;
    right: -4px;

    width: vw-1440(18);
    height: vw-1440(18);

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-white);
    background-color: var(--color-accent-1);
    border-radius: 50%;
  }
}
