@use "../../shared/config/styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  text-align: center;
  position: relative;
  gap: vw-1440(18);

  & > button {
    position: relative;
    z-index: 2;
    border-radius: vw-1440(4);
    padding: vw-1440(15) vw-1440(20);
    background-color: var(--color-bg-card);

    &.active {
      background-color: var(--color-button-additional);
    }

    &:hover {
      cursor: pointer;
      color: var(--color-button);
      opacity: 0.8;
    }
  }

  @media (max-width: 768px) {
    gap: 12px 14px;
    justify-content: flex-start;
    flex-wrap: wrap;

    &::after {
      display: none;
    }

    & > button {
      border-radius: 4px;
      padding: 7px 20px;
      flex: initial;
      width: fit-content;

      &.active {
        background-color: var(--color-button-additional);
        border-bottom: 1px solid var(--color-button-additional);
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: vw-1440(12);

  padding-top: vw-1440(24);
  white-space: pre-line;

  ul,
  ol {
    list-style: none;
  }
  @media (max-width: 768px) {
    padding-top: 24px;
    gap: 8px;
  }
}

.specifications {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: vw-1440(14);

  list-style: none;
  font-size: vw-1440(16);

  margin-bottom: vw-1440(10);

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 10px;
    gap: 14px;
  }

  & > li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: vw-1440(8);
    padding: vw-1440(14) 0;
    border-bottom: 1px solid color-mix(in srgb, var(--color-accent-1) 10%, transparent);

    @media (max-width: 768px) {
      padding: 14px 0;
      gap: 8px;
    }

    &:last-child {
      border-bottom: none;
    }

    & > div {
      flex: 0 0 auto;
      white-space: nowrap;
    }

    & > span {
      font-weight: 700;
    }
  }
}
